# OS
.DS_Store
Thumbs.db
desktop.ini

# Editor
.vscode/*
!.vscode/settings.json
!.vscode/extensions.json
.idea/
*.swp
*~

# Logs
*.log
npm-debug.log*

# Build / deploy
.vercel/
node_modules/
dist/
.cache/

# Env
.env
.env.local
.env.*.local
.vercel
